    .khan__book-pic {
        width: 620px;
        height: 608px;
        margin: 0px;
        margin-right: 48px;
        padding: 0px;
        object-fit: cover;
        object-position: top;
    }